body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.MuiInputBase-input{
    font-size: 18px !important;
}
::-webkit-scrollbar {
    width: 0px; 
    }

.karudaFooter{
    background-color:#55bde3;
}
.karudaCopyRights{
    background-color: #283340;
}
.karudaBackGround{
    background-color: #f6f6f6;
}
@media screen and (max-width: 800px) {
    .web-ui{
        display: block!important;
    }
    .mobile-ui{
        display: none!important;
    }
}
@media screen and (min-width: 700px) {
    .web-ui{
        display: block!important;
    }
    .mobile-ui{
        display: none!important;
    }

}
@media screen and (min-width: 1024px) {
    .web-ui{
        display: block!important;
    }
    .mobile-ui{
        display: none!important;
    }

}
@media screen and (max-width: 699px) {
    .mobile-ui{
        display: block!important;
    }
    .web-ui{
        display: none!important;
    }
  }